.container{
    padding: 20px 5%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(231, 231, 231);
    /* width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available;  
    width: stretch; */
}