.example-spacer {
    flex: 1 1 auto;
}

h6.header-icon {
    padding-bottom: 0px;
    line-height: 65%;
}

.subheader{
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.555);
}
